<h1>Angular 2 Starter</h1>
<h4>This is a startup project for Angular 2.0.0 in vscode or Visual Studio.</h4>
<ul>
    <li>Components</li>
    <li>Services with observables and promise</li>
    <li>Routing</li>
    <li>@ngModule</li>
    <li>Animations</li>

</ul>
<br>    
<h4>Install</h4>
<p>Download the zip add all the files to the root of your project folder then run:</p>

<pre>
npm install
</pre>

<i>(or do a "git clone https://github.com/opdahlmann/Angular2Starter.git" from your folder)</i>
<br><br>
<p>Start the project by navigating to your project folder in cmd. and type</p>
<pre>
npm start
</pre>